set / system mtu default-ip-mtu 9000

set / system logging network-instance mgmt
set / system logging remote-server 172.20.20.100 transport udp
set / system logging remote-server 172.20.20.100 remote-port 1514
set / system logging remote-server 172.20.20.100 facility local6 priority match-above informational

delete / system grpc-server eda-discovery
delete / system grpc-server eda-insecure-mgmt
delete / system grpc-server eda-mgmt

# 1) Numbered loopback to provide the borrowed IPv4 address
set / interface system0 subinterface 0 admin-state enable
set / interface system0 subinterface 0 ipv4 admin-state enable
set / interface system0 subinterface 0 ipv4 address 192.168.100.12/32
set / bfd subinterface system0.0 admin-state enable

# 2) Data interfaces using IPv4 unnumbered (borrowing from system0.0)
set / interface ethernet-1/1 admin-state enable
set / interface ethernet-1/1 subinterface 1 admin-state enable
set / interface ethernet-1/1 subinterface 1 ipv4 admin-state enable
set / interface ethernet-1/1 subinterface 1 ipv4 unnumbered admin-state enable
set / interface ethernet-1/1 subinterface 1 ipv4 unnumbered interface system0.0

set / interface ethernet-1/2 admin-state enable
set / interface ethernet-1/2 subinterface 1 admin-state enable
set / interface ethernet-1/2 subinterface 1 ipv4 admin-state enable
set / interface ethernet-1/2 subinterface 1 ipv4 unnumbered admin-state enable
set / interface ethernet-1/2 subinterface 1 ipv4 unnumbered interface system0.0


# 3) Bind interfaces to the default network-instance
set / network-instance default interface system0.0
set / network-instance default interface ethernet-1/1.1
set / network-instance default interface ethernet-1/2.1


# 4) OSPFv2 instance using the unnumbered P2P interface
set / network-instance default router-id 192.168.100.12
set / network-instance default protocols ospf instance main admin-state enable
set / network-instance default protocols ospf instance main version ospf-v2
set / network-instance default protocols ospf instance main max-ecmp-paths 64
set / network-instance default protocols ospf instance main area 0.0.0.0
set / network-instance default protocols ospf instance main area 0.0.0.0 interface system0.0
set / network-instance default protocols ospf instance main area 0.0.0.0 interface ethernet-1/1.1 interface-type point-to-point
set / network-instance default protocols ospf instance main area 0.0.0.0 interface ethernet-1/2.1 interface-type point-to-point


# BGP Configuration
set / network-instance default protocols bgp autonomous-system 65000
set / network-instance default protocols bgp router-id 192.168.100.12
set / network-instance default protocols bgp route-advertisement rapid-withdrawal true

set / network-instance default protocols bgp afi-safi evpn admin-state enable
set / network-instance default protocols bgp afi-safi evpn evpn rapid-update true

set / network-instance default protocols bgp afi-safi evpn add-paths receive true
set / network-instance default protocols bgp afi-safi evpn add-paths send true
set / network-instance default protocols bgp afi-safi evpn add-paths send-max 16

set / network-instance default protocols bgp group fabric failure-detection enable-bfd true
set / network-instance default protocols bgp group fabric timers connect-retry 1
set / network-instance default protocols bgp group fabric peer-as 65000

set / network-instance default protocols bgp neighbor 192.168.100.100 peer-group fabric
set / network-instance default protocols bgp neighbor 192.168.100.200 peer-group fabric



#### Load balancing scenario

set / routing-policy policy everything default-action policy-result accept


## L3 Service
set / tunnel-interface vxlan0 vxlan-interface 100 type routed
set / tunnel-interface vxlan0 vxlan-interface 100 ingress vni 100

set / interface ethernet-1/32 vlan-tagging true
set / interface ethernet-1/32 subinterface 1 ipv4 admin-state enable
set / interface ethernet-1/32 subinterface 1 ipv4 address 100.0.0.2/31
set / interface ethernet-1/32 subinterface 1 vlan encap single-tagged vlan-id 1
set / bfd subinterface ethernet-1/32.1 admin-state enable

set / network-instance usecase_lb_l3 type ip-vrf
set / network-instance usecase_lb_l3 admin-state enable
set / network-instance usecase_lb_l3 interface ethernet-1/32.1
set / network-instance usecase_lb_l3 vxlan-interface vxlan0.100
set / network-instance usecase_lb_l3 protocols bgp-evpn bgp-instance 1 admin-state enable
set / network-instance usecase_lb_l3 protocols bgp-evpn bgp-instance 1 vxlan-interface vxlan0.100
set / network-instance usecase_lb_l3 protocols bgp-evpn bgp-instance 1 evi 100
set / network-instance usecase_lb_l3 protocols bgp-evpn bgp-instance 1 ecmp 8
set / network-instance usecase_lb_l3 protocols bgp autonomous-system 65111
set / network-instance usecase_lb_l3 protocols bgp router-id 100.0.0.2
set / network-instance usecase_lb_l3 protocols bgp afi-safi ipv4-unicast admin-state enable
set / network-instance usecase_lb_l3 protocols bgp group pe-dc peer-as 111
set / network-instance usecase_lb_l3 protocols bgp group pe-dc failure-detection enable-bfd true
set / network-instance usecase_lb_l3 protocols bgp group pe-dc timers connect-retry 1
set / network-instance usecase_lb_l3 protocols bgp neighbor 100.0.0.3 peer-group pe-dc
set / network-instance usecase_lb_l3 protocols bgp-vpn bgp-instance 1
set / network-instance usecase_lb_l3 protocols bgp group pe-dc export-policy [ everything ]
set / network-instance usecase_lb_l3 protocols bgp ebgp-default-policy import-reject-all false
set / network-instance usecase_lb_l3 protocols bgp group pe-dc timers connect-retry 1


set / network-instance usecase_lb_l3 protocols bgp afi-safi ipv4-unicast multipath allow-multiple-as true
set / network-instance usecase_lb_l3 protocols bgp afi-safi ipv4-unicast multipath ebgp maximum-paths 128

