set / system mtu default-ip-mtu 9000

set / system logging network-instance mgmt
set / system logging remote-server 172.20.20.100 transport udp
set / system logging remote-server 172.20.20.100 remote-port 1514
set / system logging remote-server 172.20.20.100 facility local6 priority match-above informational

delete / system grpc-server eda-discovery
delete / system grpc-server eda-insecure-mgmt
delete / system grpc-server eda-mgmt

# 1) Numbered loopback to provide the borrowed IPv4 address
set / interface system0 subinterface 0 admin-state enable
set / interface system0 subinterface 0 ipv4 admin-state enable
set / interface system0 subinterface 0 ipv4 address 192.168.100.3/32
set / bfd subinterface system0.0 admin-state enable

# 2) Data interfaces using IPv4 unnumbered (borrowing from system0.0)
set / interface ethernet-1/49 admin-state enable
set / interface ethernet-1/49 subinterface 1 admin-state enable
set / interface ethernet-1/49 subinterface 1 ipv4 admin-state enable
set / interface ethernet-1/49 subinterface 1 ipv4 unnumbered admin-state enable
set / interface ethernet-1/49 subinterface 1 ipv4 unnumbered interface system0.0

set / interface ethernet-1/50 admin-state enable
set / interface ethernet-1/50 subinterface 1 admin-state enable
set / interface ethernet-1/50 subinterface 1 ipv4 admin-state enable
set / interface ethernet-1/50 subinterface 1 ipv4 unnumbered admin-state enable
set / interface ethernet-1/50 subinterface 1 ipv4 unnumbered interface system0.0


# 3) Bind interfaces to the default network-instance
set / network-instance default interface system0.0
set / network-instance default interface ethernet-1/49.1
set / network-instance default interface ethernet-1/50.1


# 4) OSPFv2 instance using the unnumbered P2P interface
set / network-instance default router-id 192.168.100.3
set / network-instance default protocols ospf instance main admin-state enable
set / network-instance default protocols ospf instance main version ospf-v2
set / network-instance default protocols ospf instance main max-ecmp-paths 64
set / network-instance default protocols ospf instance main area 0.0.0.0
set / network-instance default protocols ospf instance main area 0.0.0.0 interface system0.0
set / network-instance default protocols ospf instance main area 0.0.0.0 interface ethernet-1/49.1 interface-type point-to-point
set / network-instance default protocols ospf instance main area 0.0.0.0 interface ethernet-1/50.1 interface-type point-to-point


# BGP Configuration
set / network-instance default protocols bgp autonomous-system 65000
set / network-instance default protocols bgp router-id 192.168.100.3
set / network-instance default protocols bgp route-advertisement rapid-withdrawal true

set / network-instance default protocols bgp afi-safi evpn admin-state enable
set / network-instance default protocols bgp afi-safi evpn evpn rapid-update true
set / network-instance default protocols bgp afi-safi evpn multipath ibgp maximum-paths 64

set / network-instance default protocols bgp afi-safi evpn add-paths receive true
set / network-instance default protocols bgp afi-safi evpn add-paths send true
set / network-instance default protocols bgp afi-safi evpn add-paths send-max 16

set / network-instance default protocols bgp group fabric failure-detection enable-bfd true
set / network-instance default protocols bgp group fabric timers connect-retry 1
set / network-instance default protocols bgp group fabric peer-as 65000

set / network-instance default protocols bgp neighbor 192.168.100.100 peer-group fabric
set / network-instance default protocols bgp neighbor 192.168.100.200 peer-group fabric


#### Load balancing scenario


set / interface ethernet-1/1 ethernet aggregate-id lag1
set / interface ethernet-1/1 ethernet port-speed 25G
set / interface lag1 lag lag-type lacp
set / interface lag1 lag lacp interval FAST
set / interface lag1 lag lacp admin-key 1
set / interface lag1 lag lacp system-id-mac 00:11:11:11:11:11
set / interface lag1 vlan-tagging true
set / interface lag1 subinterface 1 type bridged
set / interface lag1 subinterface 1 vlan encap single-tagged vlan-id 1

set / interface ethernet-1/2 ethernet aggregate-id lag2
set / interface ethernet-1/2 ethernet port-speed 25G
set / interface lag2 lag lag-type lacp
set / interface lag2 lag lacp interval FAST
set / interface lag2 lag lacp admin-key 2
set / interface lag2 lag lacp system-id-mac 00:11:11:11:11:22
set / interface lag2 vlan-tagging true
set / interface lag2 subinterface 1 type bridged
set / interface lag2 subinterface 1 vlan encap single-tagged vlan-id 1

set / interface irb0 subinterface 1 ipv4 admin-state enable
set / interface irb0 subinterface 1 ipv4 address 10.10.10.254/24 anycast-gw true
set / interface irb0 subinterface 1 anycast-gw virtual-router-id 1
set / interface irb0 subinterface 1 anycast-gw anycast-gw-mac 00:00:00:01:10:10
set / interface irb0 subinterface 1 ipv4 arp learn-unsolicited true
set / interface irb0 subinterface 1 ipv4 arp evpn advertise dynamic
set / interface irb0 subinterface 1 ipv4 arp host-route populate dynamic
set / interface irb0 subinterface 1 ipv4 arp host-route populate dynamic datapath-programming true

#L2 ESI
#L2 ESI
set /system network-instance protocols bgp-vpn bgp-instance 1
set / system network-instance protocols evpn ethernet-segments bgp-instance 1 ethernet-segment server1_bond0 admin-state enable
set / system network-instance protocols evpn ethernet-segments bgp-instance 1 ethernet-segment server1_bond0 esi 00:00:10:10:10:10:10:10:10:34
set / system network-instance protocols evpn ethernet-segments bgp-instance 1 ethernet-segment server1_bond0 multi-homing-mode all-active
set / system network-instance protocols evpn ethernet-segments bgp-instance 1 ethernet-segment server1_bond0 interface lag1
set / system network-instance protocols evpn ethernet-segments bgp-instance 1 ethernet-segment server1_bond0 advertise-ifl-host-ad-routes

set /system network-instance protocols bgp-vpn bgp-instance 1
set / system network-instance protocols evpn ethernet-segments bgp-instance 1 ethernet-segment lag2 admin-state enable
set / system network-instance protocols evpn ethernet-segments bgp-instance 1 ethernet-segment lag2 esi 00:00:10:10:10:10:10:10:20:34
set / system network-instance protocols evpn ethernet-segments bgp-instance 1 ethernet-segment lag2 multi-homing-mode all-active
set / system network-instance protocols evpn ethernet-segments bgp-instance 1 ethernet-segment lag2 interface lag2
set / system network-instance protocols evpn ethernet-segments bgp-instance 1 ethernet-segment lag2 advertise-ifl-host-ad-routes

## L2 mac-vrf
set / tunnel-interface vxlan0 vxlan-interface 1 type bridged
set / tunnel-interface vxlan0 vxlan-interface 1 ingress vni 1

set / network-instance usecase_lb_l2 type mac-vrf
set / network-instance usecase_lb_l2 admin-state enable
set / network-instance usecase_lb_l2 interface lag1.1
set / network-instance usecase_lb_l2 interface lag2.1
set / network-instance usecase_lb_l2 vxlan-interface vxlan0.1
set / network-instance usecase_lb_l2 interface irb0.1

set / network-instance usecase_lb_l2 protocols bgp-evpn bgp-instance 1 admin-state enable
set / network-instance usecase_lb_l2 protocols bgp-evpn bgp-instance 1 vxlan-interface vxlan0.1
set / network-instance usecase_lb_l2 protocols bgp-evpn bgp-instance 1 evi 1
set / network-instance usecase_lb_l2 protocols bgp-evpn bgp-instance 1 ecmp 8
set / network-instance usecase_lb_l2 protocols bgp-vpn bgp-instance 1

## L3 Service
set / tunnel-interface vxlan0 vxlan-interface 100 type routed
set / tunnel-interface vxlan0 vxlan-interface 100 ingress vni 100

set / system network-instance protocols evpn ethernet-segments bgp-instance 1 ethernet-segment L3-ES-2 type virtual
set / system network-instance protocols evpn ethernet-segments bgp-instance 1 ethernet-segment L3-ES-2 admin-state enable
set / system network-instance protocols evpn ethernet-segments bgp-instance 1 ethernet-segment L3-ES-2 esi 01:20:20:20:01:00:00:00:00:34
set / system network-instance protocols evpn ethernet-segments bgp-instance 1 ethernet-segment L3-ES-2 multi-homing-mode all-active
set / system network-instance protocols evpn ethernet-segments bgp-instance 1 ethernet-segment L3-ES-2 next-hop 10.10.10.2 evi 100
set / system network-instance protocols evpn ethernet-segments bgp-instance 1 ethernet-segment L3-ES-2 routes next-hop use-system-ipv4-address
set / system network-instance protocols evpn ethernet-segments bgp-instance 1 ethernet-segment L3-ES-2 routes ethernet-segment originating-ip use-system-ipv4-address

set / system network-instance protocols evpn ethernet-segments bgp-instance 1 ethernet-segment L3-ES-3 type virtual
set / system network-instance protocols evpn ethernet-segments bgp-instance 1 ethernet-segment L3-ES-3 admin-state enable
set / system network-instance protocols evpn ethernet-segments bgp-instance 1 ethernet-segment L3-ES-3 esi 01:20:20:20:01:00:00:00:23:34
set / system network-instance protocols evpn ethernet-segments bgp-instance 1 ethernet-segment L3-ES-3 multi-homing-mode all-active
set / system network-instance protocols evpn ethernet-segments bgp-instance 1 ethernet-segment L3-ES-3 next-hop 10.10.10.3 evi 100
set / system network-instance protocols evpn ethernet-segments bgp-instance 1 ethernet-segment L3-ES-3 routes next-hop use-system-ipv4-address
set / system network-instance protocols evpn ethernet-segments bgp-instance 1 ethernet-segment L3-ES-3 routes ethernet-segment originating-ip use-system-ipv4-address




set / network-instance usecase_lb_l3 type ip-vrf
set / network-instance usecase_lb_l3 admin-state enable
set / network-instance usecase_lb_l3 vxlan-interface vxlan0.100
set / network-instance usecase_lb_l3 interface irb0.1
set / network-instance usecase_lb_l3 protocols bgp-evpn bgp-instance 1 admin-state enable
set / network-instance usecase_lb_l3 protocols bgp-evpn bgp-instance 1 vxlan-interface vxlan0.100
set / network-instance usecase_lb_l3 protocols bgp-evpn bgp-instance 1 evi 100
set / network-instance usecase_lb_l3 protocols bgp-evpn bgp-instance 1 ecmp 8
set / network-instance usecase_lb_l3 protocols bgp-vpn bgp-instance 1

